---
layout: base.liquid
title: Home
permalink: index.html
---
<body class="bg-base-200 min-h-screen">
  <div class="container mx-auto px-4 py-10 max-w-2xl">
    <div class="card bg-base-100 shadow-xl">
      {% include "components/header.liquid", title: "TodoList",
      subtitle: "with Tailwind CSS" %}

      <div class="p-6">
        {% include "components/todo-form.liquid", placeholder:
        "Write your todo here...", btnText: "add" %}

        <ul id="todoList" class="space-y-3"></ul>

        {% include "components/empty-state.liquid", text: "No tasks here. Let's add one." %}
      </div>
    </div>
  </div>
  {% include "components/todo-item-template.liquid", deleteText: "remove" %}
</body>
